:root {
  --s-grid-unit: 8px;
}

body {
  font-family: 'Overpass Mono', monospace;
  margin: 0;
  padding: 0;
}

a, a:link {
  color: inherit;
}

.logo {
  background-image: url('logo__bg.svg');
  background-repeat: repeat-x;
  margin-left: 24px;
  margin-top: calc(var(--s-grid-unit) * 4);
  width: 100%;
}

.content {
  max-width: 28rem;
  padding: calc(var(--s-grid-unit) * 4);
}
